<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="tests" name="Docker Grid" thread-count="3">
  <test name="Chrome">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="seldocker.GridTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Firefox">
	<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="seldocker.GridTest"></class>
		</classes>
	</test>	
	<test name="Edge">
	<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="seldocker.GridTest"></class>
		</classes>
	</test>
</suite> <!-- Suite -->